<div class="organism icon-grid" id="{{id}}">
    <section>
        <div class="container">
            {{> molecules/text}}
            <div class="grid">
                {{#each item}}
                <div class="item">
                    {{#if link}}
                    <a href="{{link}}" title="{{title}}">
                    {{/if}}
                        <span class="icon">
                            <i class="fa {{icon}}"></i>
                        </span>
                        <p>{{title}}</p>
                    {{#if link}}
                    </a>
                    {{/if}}
                </div>
                {{/each}}
            </div>
        </div><!--/container -->
    </section>
</div><!--/icon-grid-->