{{#if button}}
    <div class="button atom">
        <a href="{{#if link}}{{link}}{{else}}#{{modal_target}}{{/if}}"
           title="{{#if button_text}}{{button_text}}{{/if}}"
           class="{{#if link}}link{{else}}modal{{/if}}">
            {{button_text}}
        </a>
    </div>
{{/if}}